[submodule "anthill-contracts"]
	path = anthill-contracts
	url = https://github.com/kelemeno/anthill-contracts.git
	branch = develop
[submodule "anthill-backend"]
	path = anthill-backend
	url = https://github.com/kelemeno/anthill-backend.git
	branch = develop
[submodule "anthill-frontend"]
	path = anthill-frontend
	url = https://github.com/kelemeno/anthill-frontend.git
	branch = develop
